@charset "utf-8";
/* CSS Document */

#scrolldiv{
	background-color:#FFf;
	overflow: auto;
	height: 400px;
	width: 520px;
}

#notebox{
	background-color:#FFc;
	border:1px dashed #000;
	width:500px;
}
	

p{ 
  
  font:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:14px;
	
	}
	



	